$bg-color: #0C2135;
$bg-color-secundary:#4f6d82;
$bg-color-card: #4b9093;
//$bg-color: #06121E;
$red-color: #B42B2B;
$red-hover-color: #b42b2b81;
$red-hover-rgba: rgba(211, 64, 64, 0.50);
$orange-color: #F59A73;
$white-color: #F8F8FF;