$bg-color: #0C2135;
$bg-color-secundary: rgba(180, 43, 43, 0.10);
$bg-color-card: #4b9093;
//$bg-color: #06121E;
$button-color: #B42B2B;
$button-hover-color: #b42b2b81;
$hover-color-cards: #F59A73;
$text-color: #F8F8FF;