@import '../partials/_colors.scss';
@import '../partials/_variables';



.Header{
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
}
.Header img{
    max-width: 100%;
    max-height: 100%;
}

.Nav{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 auto;
    overflow: hidden;
}

.Nav_List {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: $font-pincinpal;
    text-transform: uppercase;
    font-size: 1.1rem;
    
}

.Nav_List a{
    text-decoration: none;
    color: $text-color;
    padding: 50px;   
    
}
a:hover{
    color: $button-color;
    text-decoration: underline;
    scale: 1.3;
    transition: 0.5s;
 }


.Button_Direct_Register{
    width: 115px;
    height: 50px;
    margin-right: 200px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: $button-color;
    color: $text-color;
    font-family: $font-pincinpal;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

.Button_Direct_Register:hover{
    scale: 1.1;
    transition: 0.8s;
}


@media screen and (max-width: 1400px) {

    .Header{
        width: 1100px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 920px) {
    

    .mobile-menu {
        position: relative;
      
        .menu-toggle {
          display: block;
          background: none;
          border: none;
          cursor: pointer;
        }
      
        .menu-items {
          display: none;
          list-style: none;
          padding: 0;
      
          &.open {
            display: block;
          }
      
          li {
            padding: 10px;
            background-color: #f0f0f0;
          }
        }
      }
}