@import '../partials/_colors.scss';
@import '../partials/variables';



.Header{
    width: 100vw;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Header img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: 205px;
    
}

.Nav{
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.Nav_List {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: $font-pincinpal;
    text-transform: uppercase;
    font-size: 1.1rem;
    
}

.Nav_List a{
    text-decoration: none;
    color: $text-color;
    padding: 50px;   
     
}
.Button_Direct_Register{
    width: 115px;
    height: 50px;
    margin-right: 200px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: $button-color;
    color: $text-color;
    font-family: $font-pincinpal;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}
