@import './partials/colors';
@import './partials/variables';
@import './components/hero.scss';
@import './components/header.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    width: 100vw;
    height : 100vh;
    background-color: $bg-color;
}
#Container{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

