@import './partials/_colors';
@import './partials/_variables';
@import './components/_hero.scss';
@import './components/_header.scss';
@import './components/_animatedText.scss';
@import './components/differentials';
@import './components/plain';
@import './components/entry';
@import './components/footer';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height : 100vh;
    background-color: $bg-color;
    overflow-x: hidden;
}
#Container{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



